@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 21px;
  background-color: #F2F2F2;
  margin: 0;
  height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  box-shadow:0 0 15px rgba(0, 0, 0, 0.2) ;

}


.page-header{
  display: flex;
  padding:0 70px ;
}

.logo{
  display: block;
  margin-right:28px ;
}
.navigation{
display: flex;
flex-grow: 1;
align-items: center;
}

.navigation-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-list .navigation-link{
display: block;
padding: 20px 16px;

}

.navigation-user{
display: flex;
flex-wrap: wrap;
margin: 0;
padding: 0;
list-style-type: none;
align-items: center;
margin-left: auto;
margin-right: 20px;
}



.navigation-link{
  color: inherit;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  text-transform: capitalize;
  }

.navigation-user .navigation-link{
  display: block;
  outline: 2px solid red;
  width: 40px;
  height: 40px;
  padding: 22px 12px;
}



.page-header .button{
  margin-left:auto ;
  display: block;
  align-self: center;
    min-width: 160px;
  padding: 8px 34px;
  border-radius: 4px;

}

.main{
  flex-grow: 1;
}

.hero {
  background-color: #000000;
  background: url("../images/main-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}



.advantages{
  text-align: center;
}

.advantages-content .section-title{
  margin: 0;
  padding: 69px 290px 25px;
}


.advantages-content .section-description{
  margin: 0;
  padding: 0 274px 69px;
}


.advantages-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item{
  width: 400px;
  position: relative;
}

.advantages-item-white::before{
content: "";
position: absolute;
width: 60px;
height: 2px;
background: rgba(255, 255, 255, 0.3);
top:188px;
left: 170px;
}

.advantages-item-white-2::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  top:188px;
  left: 970px;
  }
.advantages-item-gray::before{
  content: "";
  position: absolute;
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  top:198px;
  left: 170px;
  }


.advantages-item-white-2 img{
  order: -1;
}



.advantages-item .advantages-description{
margin: 0;
margin-bottom: 113px;
padding-left: 85px;
padding-right: 85px;
}


.advantages-item:nth-child(even){
background: rgba(131, 179, 211, 0.12);
}

.section-title{
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
margin: 0;
}

.section-description{
color: #333333;
font-size: 22px;
line-height: 26px;
margin: 0;
}

.advantages-title{
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-transform: uppercase;
margin: 0;
margin-top:103px;
margin-bottom: 62px;;
}

.advantages-item-strip:after{
  position: absolute;
  content: "";
  width: 60px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  top:190px;
  left: 170px;}



.advantages-description{
color: #333333;
}

.advantages-item-picture{
  background-color: #83B3D3;
  width: 1200px;
  display: flex;
}

.advantages-item-picture .advantages-title{
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.benefits .section-title{
  margin: 0;
  padding: 64px 347px 20px ;
}

.benefits .section-description{
  margin: 0;
  padding: 0 355px 64px;
}

.advantages-continuation{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-continuation-item{
width: 400px;
position: relative;
}

.advantages-continuation-item-house::before{
  content: url("../images/svg/home.svg");
  position: absolute;
  top:80px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-continuation-item-food::before{
  content: url("../images/svg/food.svg");
  position: absolute;
  top:82px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-continuation-item-present::before{
  content: url("../images/svg/present.svg");
  position: absolute;
  top:80px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-continuation-item .advantages-title{
  margin:0;
  margin-top: 183px;
}

.advantages-continuation-item .advantages-description{
  margin: 0;
  padding:30px 85px 81px;

}

.advantages-item-picture .advantages-description{
  color: rgb(255, 255, 255);
}

.advantages-continuation-item:nth-child(odd){
background: rgba(131, 179, 211, 0.12);
}

.search{
  padding: 96px 304px 96px;
  text-align: center;
}

.search  .section-title{
padding-bottom:  20px;
}

.search  .section-description{
  padding-bottom: 54px;
  }

  .search .button{
    min-width: 376px;
    padding: 8px 50px;
    border-radius: 4px;
  }



.subscribe {
  padding: 96px 258px 104px;
  text-align: center;
}



.subscribe .section-title {
  padding-bottom:  20px;
}
.subscribe  .section-description {
  padding-bottom:  54px;
}

.subscribe-form{
  display: flex;
  width: 682px;
}

.subscribe-form .field-input{
  width: 452px;
  font-size: 18px;
  padding: 14px 20px 14px 20px;
  font-family: inherit;
  border-radius: 4px 0 0 4px;
  border: none;
background: rgb(242, 242, 242);

}

.subscribe-form .button{
  width: 232px;
  padding: 8px 50px 8px 50px;
  border-radius: 0px 4px 4px 0px;
background: rgb(130, 179, 211);
}

.subscribe-main{
  color: #ffffff;
  background-image: url("../images/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #83B3D3;
}

.subscribe-main .section-description{
  color: #FFFFFF;
}

.wrapper-filter {
  color:#FFFFFF;
  background-image: url("../images/background-filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #83B3D3;
  padding: 35px 70px 70px;
}

.main-inner-title{
  margin: 0;
  padding: 0;
font-size: 60px;
line-height: 78px;
}

.breadcrumbs{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.breadcrumbs-item:nth-child(1) a{
 display: block;
  width: 12px;
  height: 12px;
  outline: 2px solid red;
  margin-right: 29px;
}

.filter-catalog{
  display: flex;
 justify-content: space-between;
  gap:17px;
}

.filter-catalog-group{
  margin: 0;
  padding: 0;
  border: none;
}


.filter-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.filter-item:not(:last-child){
  margin-bottom: 16px;
}

.filter-catalog-title{
  font-size: 20px;
line-height: 24px;
text-transform: capitalize;
margin-bottom: 32px;
}

.control-lead{
font-size: 18px;
line-height: 23px;
}

.filter-button{
  display: flex;
  flex-direction: column;
}

.filter-button .button[type="submit"]{
  max-width: 191px;
  margin-top: 56px;
  margin-bottom:32px ;
  padding: 8px 50px;
}

.catalog{
  padding: 0 70px;
}

.search-result{
  display: flex;
  padding: 50px 0 40px;
}

.search-result .section-title{
  margin:0;
  padding:7px 0;
  margin-right: 200px;
}

.select-control{
  margin-right: 70px;
  min-width: 292px;
  align-self: center;
  padding: 14px 130px 14px 20px;
}

.sorting{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.sorting-item:not(:last-child){
  margin-right: 8px;
}

.sorting-link{
  display: block;
  height: 48px;
  width: 48px;
  outline: 2px solid blueviolet;
}

.card-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 80px;
}

.card-list-item{
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  width: 340px;
  padding: 20px ;
border: 1px solid #E6E6E6;
box-sizing: border-box;
}

.card-link{
color: #000000;
text-decoration: none;
}

.card-img{
  display: block;
  margin-bottom: 16px;
}

.card-title{
  margin: 0;
font-size: 24px;
line-height: 28px;
}

.card-description{
  display: flex;
  justify-content: space-between;
  margin: 0;
  color:  #333333;
}

.wrap-card-buttons{
  display: flex;
  justify-content: space-between;
}

.card-button{
  min-width:140px;
  padding: 8px 20px;
}

.wrap-card-rating{
  display: flex;
  justify-content: space-between;
}

.rating{
  color: #333333;
  font-size: 16px;
  text-transform: uppercase;
  min-width: 140px;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
  background: rgb(242, 242, 242);
}

.pagination{
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item{
  list-style-type: none;
  margin-right: 8px;
}

.pagination-item:last-child{
  margin-right: 0;
}

.pagination-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding:11px 24px 13px ;
 color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 700;
line-height: 36px;
text-decoration: none;
text-transform: uppercase;
background-color: #82B3D3;
box-sizing: border-box;
border-radius: 4px;

}

.pagination-current{
color: rgb(0, 0, 0);
background-color: #F2F2F2;
font-size: 20px;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
text-decoration: none;
}

.pagination-link-points{
  color: #000000;
  background-color: transparent;
  padding: 16px 22px 18px ;
}
/* Buttons */
.button {
  color: #FFFFFF;
  background-color: #83B3D3;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 4px;
}

.button-basic {
  background-color: #756157;
}
.button-reset{
background-color: transparent;
}

.button-big{
font-size: 20px;
line-height: 36px;
}

.button-green{
 background-color:  #7DB54F;
 min-width:140px;
 padding: 8px 18px;
}


 button.button{
  border:none;
  font-family: inherit;
}

/* Footer */
.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 40px 70px 30px;
}


.social-list{
  width: 142px;
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}



.social-link{
  display: block;
  width: 47.33px;
  height: 40px;
  outline: 2px solid red;
}

.footer-phone{
color: inherit;
font-size: 40px;
font-weight: 400;
line-height: 40px;
text-align: center;
text-transform: uppercase;
text-decoration: none;
}
