@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  color: #000000;
  line-height: 21px;
  background-color: #F2F2F2;
  margin: 0;
  min-height: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  width: 1200px;
  margin: 0 auto;
}

.navigation{
  display: flex;
  padding: 0 70px;
  justify-content: space-between;
}


.navigation-list{
  margin: 0;
  padding: 0;
  width: 340px;
  list-style-type: none;
}

.navigation-user{
  max-width: 290px;
}

.navigation-link{
color: inherit;
font-size: 20px;
font-weight: 700;
line-height: 24px;
text-decoration: none;
text-align: center;
text-transform: capitalize;
}

.main{
  flex-grow: 1;
}

.hero {
  background-color: #000000;
  background: url("../images/main-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}

.advantages{
  text-align: center;
}

.advantages-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item:nth-child(even){
background: rgba(131, 179, 211, 0.12);
}

.section-title{
font-size: 30px;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
}

.section-description{
color: #333333;
font-size: 22px;
line-height: 26px;
}

.advantages-title{
font-size: 24px;
font-weight: 700;
line-height: 28px;
text-transform: uppercase;
}

.advantages-description{
color: #333333;
}

.advantages-item-picture{
background-color: #83B3D3;
}

.advantages-item-picture .advantages-title{
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-continuation{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
}

.advantages-continuation-item{
width: 400px;
}

.advantages-continuation-item-house::before{
  content: url("../images/svg/home.svg");
  position: absolute;
  top:81px;
  left: 162px;
}

.advantages-continuation-item-food::before{
  content: url("../images/svg/food.svg");
  position: absolute;
  top:82px;
  left: 560px;
}

.advantages-continuation-item-present::before{
  content: url("../images/svg/present.svg");
  position: absolute;
  top:81px;
  left: 970px;
}

.advantages-continuation-item .advantages-title{
  margin:0;
  margin-top: 183px;
}

.advantages-continuation-item .advantages-description{
  margin:30px 85px 81px;

}

.advantages-item-picture .advantages-description{
  color: rgb(255, 255, 255);
}

.advantages-continuation-item:nth-child(odd){
background: rgba(131, 179, 211, 0.12);
}



.search{
  text-align: center;
}

.subscribe {
  text-align: center;
}


.subscribe-main{
  color: #ffffff;
  background-image: url("../images/background-subscribe.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #83B3D3;
}

.subscribe-main .section-description{
  color: #FFFFFF;
}

.wrapper-filter {
  color:#FFFFFF;
  background-image: url("../images/background-filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #83B3D3;
}

.main-inner-title{
font-size: 60px;
line-height: 78px;
}

.filter-catalog-title{
  font-size: 20px;
line-height: 24px;
text-transform: capitalize;
}

.control-lead{
font-size: 18px;
line-height: 23px;
}

.catalog{
  padding: 0 70px;
}

.card-list{
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 80px;
}

.card-list-item{
  width: 340px;
  padding: 20px ;
border: 1px solid #E6E6E6;
box-sizing: border-box;
}

.card-link{
color: #000000;
text-decoration: none;
}

.card-title{
font-size: 24px;
line-height: 28px;
}

.card-description{
  color:  #333333;
}

.rating{
  color: #333333;
  font-size: 16px;
  text-transform: uppercase;
}

.pagination{
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination-item{
  list-style-type: none;
  margin-right: 8px;
}

.pagination-item:last-child{
  margin-right: 0;
}

.pagination-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding:11px 24px 13px ;
 color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 700;
line-height: 36px;
text-decoration: none;
text-transform: uppercase;
background-color: #82B3D3;
box-sizing: border-box;

}

.pagination-current{
color: rgb(0, 0, 0);
background-color: #F2F2F2;
font-size: 20px;
font-weight: 700;
line-height: 36px;
text-transform: uppercase;
text-decoration: none;
}

.pagination-link-points{
  color: #000000;
  background-color: transparent;
  padding: 16px 22px 18px ;
}
/* Buttons */
.button {
  color: #FFFFFF;
  background-color: #83B3D3;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.button-basic {
  background-color: #756157;
}
.button-reset{
  font-family: inherit;
background-color: transparent;
}

.button-big{
font-size: 20px;
line-height: 36px;
}

.button-green{
 background-color:  #7DB54F;
}

/* Footer */
.footer{
  display: flex;
  justify-content: space-between;
 padding: 0 70px;

}


.social-list{
  margin: 0;
  padding: 0;
}

.footer-phone{
color: inherit;
font-size: 40px;
font-weight: 400;
line-height: 40px;
text-align: center;
text-transform: uppercase;
text-decoration: none;
}
